body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.container {
  font-size: 10px;
  width: 40em;
  height: 40em;
  position: relative;
}

.sol {
  position: absolute;
  top: 15em;
  left: 15em;
  width: 10em;
  height: 10em;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 3em white;
}

.terra,
.lua,
.marte,
.urano,
.mercurio,
.jupiter,
.venus,
.saturno,
.netuno {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: 0.1em 0.1em 0 0;
  border-radius: 50%;
}

.mercurio {
  top: 11.4em;
  left: 11.2em;
  width: 17em;
  height: 17em;
  animation: orbit 5s linear infinite;
}

.venus {
  top: 6em;
  left: 5.7em;
  width: 28em;
  height: 28em;
  animation: orbit 6s linear infinite;
}

.terra {
  top: 0em;
  left: 0em;
  width: 40em;
  height: 40em;
  animation: orbit 9s linear infinite;
}

.lua {
  top: 4em;
  right: 2.9em;
  width: 5em;
  height: 5em;
  animation: orbit 3s linear infinite;
}

.marte {
  top: -5em;
  left: -4.8em;
  width: 50em;
  height: 50em;
  animation: orbit 11s linear infinite;
}

.terra::before,
.lua::before,
.marte::before,
.mercurio::before,
.venus::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.mercurio::before {
  top: 2em;
  right: 0.6em;
  width: 2.5em;
  height: 2.5em;
  background-color: #808076;
}

.venus::before {
  top: 3em;
  right: 1em;
  width: 4em;
  height: 4em;
  background-color: #9a5222;
}

.terra::before {
  top: 5em;
  right: 4em;
  width: 3em;
  height: 3em;
  background-color: #475087;
}

.lua::before {
  top: 0.2em;
  right: 0.2em;
  width: 1em;
  height: 1em;
  background-color: silver;
}

.marte::before {
  top: 7em;
  right: 3rem;
  width: 3em;
  height: 3em;
  background-color: #861d11;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
